.addNewBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: rgba(49, 49, 49, 0.843);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.buttonDU {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 20px;
}

.download {
    background: rgba(49, 49, 49, 0.843);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.upload {
    background: rgba(49, 49, 49, 0.843);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}
