.cardMainBox {
    background: rgba(49, 49, 49, 0.843);
    color: white;
}

.cardMainBox input {
    background-color: transparent;
    width: 100%;
}

.buttonBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 612px) {
    /* .mainRightDiv {
            position: static;
            margin: 15px 20px 0px 20px;
        } */
}
