.purple {
    background-color: #592e83;
}
.very-light-purple-text {
    color: #caa8f5;
}
.shadow{
    box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.5);}

.home-container {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.logo {
    width: 20vw;
    height: 20vh;
    object-fit: contain;
}

.tex {
    color: #000000;
    font-size: rem;
    font-weight: 600;
    padding: 1rem 2rem;
    padding-bottom: 7rem;
}

.home-container > div:hover {
    transform: scale(1.06);
}

.home-container > div {
    transition: all 0.3s ease-in-out;
}
