.sBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchF {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(123, 123, 123, 0.211);
}

.btnS {
    font-size: 12px;
    box-shadow: 0 2px 10px rgba(123, 123, 123, 0.211);
}
